# python cache
**__pycache__**

# IDE project files
**.settings**
**.cproject**
**.project**
**.pydevproject**
**.vs**

# result, temp dir
**results**
**video**
**movie**
**tmp**
**temp**

# log
*.log
error*

# learn
.nfs*
